@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behaviour: smooth;
}

@layer base {
    .font-outline-small {
      -webkit-text-stroke: 1px black;
    }
    .font-outline-2 {
      -webkit-text-stroke: 2px black;
    }
    .font-outline-4 {
      -webkit-text-stroke: 4px black;
    } 
    li {
      @apply font-Line text-lg font-semibold;
    }
    button {
      @apply font-Button text-xl font-bold;
    }
    p {
      @apply font-Line;
    }
    h2 {
      @apply font-Line;
      font-size: 30px;
    }
    .full-bleed {
    box-shadow: 0 0 0 100vmax #007f5c;
    clip-path: inset(0 -100vmax); 
    }
    .video-title-bleed {
      box-shadow: 0 0 0 100vmax #a9ba9d;
      clip-path: inset(0 -100vmax); 
    }
  }

  @layer utilities {
    .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 
    [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:!bg-transparent;
    }
    .toggle-nav {
     @apply translate-x-0 transition-all ease-in-out duration-500;
    }
    .toggle-header {
      @apply translate-y-14 transition-all ease-in-out duration-500;
    }
  }

@media (min-width: 320px) and (max-width: 992px) {
  .video-container {
    width: 80%;
  }
} 

@media (min-width: 993px) and (max-width: 1023px) {
  .video-container {
    width: 70%;
  }
} 

@media (min-width: 1024px) and (max-width: 1279px) {
  .video-container {
    width: 60%;
  }
} 

@media (min-width: 1280px) {
  .video-container {
    width: 50%;
  }
} 

@media (min-width: 320px) and (max-width: 575px) {
.slider-nav-next {
    right: -15% !important;
  }
  .slider-nav-prev {
    left: -15% !important;
  }
} 

@media (min-width: 576px) and (max-width: 639px) {
.slider-nav-next {
    right: -12% !important;
  }
  .slider-nav-prev {
    left: -12% !important;
  }
} 

@media (min-width: 640px) and (max-width: 992px) {
  .swiff-md-override {
    width: 80% !important;
  }
}

.latest-video {
  border-width: 2px;
}

.video-header {
  padding: 20px;
  border-top: 2px solid black; 
  background-color: #787878;
  color: white;
}


.slider-nav {
  visibility: visible !important;
  opacity: 1; 
}

#side-nav {
  background-position-x: 130%;
}


@media (min-width: 1024px) and (max-width: 1100px) {
  .first-tree {
    left: -52% !important;
  }
}

@media (min-width: 1101px) and (max-width: 1279px) {
  .first-tree {
    left: -50% !important;
  }
}

@media (min-width: 1280px) and (max-width: 1399px) {
  .first-tree {
    left: -40% !important;
    top: 0% !important;
  }
}

@media (min-width: 1400px) and (max-width: 1499px) {
  .first-tree {
    left: -38% !important;
  }
}

@media (min-width: 1500px) and (max-width: 1599px) {
  .first-tree {
    left: -35% !important;
  }
}

@media (min-width: 1600px) {
  .first-tree {
    left: -32% !important;
  }
}







